* {
    font-family: "Lato", sans-serif;
    color: #747704;
    box-sizing: border-box;
}

.row {
    width: 100%;
    margin: 0;
}

/* Header */
.logo {
    margin-top: 20px;
    margin-bottom: 0;
    width: 110px;
}

.title-text {
    text-align: right;
    text-transform: uppercase;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    margin: 35px 0 8px;
    font-size: 55px;
}

.title-sub {
    font-size: 18px;
    margin-top: 0;
}


/* Visual Separator */
hr {
    margin-top: 12px;
    border-width: 4px;
    border-top-color: #bcbbbb;
 }


/* Main - Portfolio Samples */
.text-muted {
    color: #bcbbbb;
}

.text-indented {
    margin-left: 10px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #747704;
    text-decoration: none;
}

/* Give the user a visual indication that the portfolio
 * image is a link to more details on the project. */
.portfolio:hover {
    border: solid 1px gray;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #333;
    cursor: pointer;
}

.portfolio-link {
    display: block;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0 5px;
}

.github-link {
    text-shadow: -1px -1px 2px #747704;  /* so they can be seen! */
    display: block;
    font-weight: 400;
    font-size: 1.2em;
    margin:  5px 0 10px;
}

/* Modals */
.button {
    /* Make touch (fat-finger) friendly */
    min-width: 80px;
    min-height: 40px;
}

/* Media Queries */
@media screen and (max-width: 768px) {

    .title-super {
        margin-top: 35px;
        font-size: 40px;
    }

    .title-sub {
        font-size: 18px;
    }

    .logo {
        width: 105px;
    }

    /* Provide bigger touch area for smaller screens. */
    .portfolio-link {
        margin: 10px 0 5px;
    }

    .github-link {
        margin:  5px 0 30px;
    }
}

@media screen and (max-width: 550px) {

    .title-super {
        margin-top: 45px;
        font-size: 30px;
    }

    .title-sub {
        font-size: 16px;
    }

    .logo {
        width: 100px;
    }
}

@media screen and (max-width: 450px) {

    .title-super {
        margin-top: 50px;
        font-size: 20px;
    }

    .title-sub {
        font-size: 14px;
    }

    .logo {
        width: 90px;
    }
}